/* 공통 스타일 */

.html{font-size: 16px;}
.body{
    color: #555;
}
.title > h2{color: #000;
    font-size: 40px;}

.title > p{
    padding-top: 10px;
    color: #555;
}




/* ===============================================
====================about==========================
============================================= */












