@import url('./reset.css');
@import url('./common.css');

/* ===============================================
====================header==========================
============================================== */

header{
    position: relative;
    left: 0; top: 0;
    width: 100%;
}
header > div{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div >h1{
    font-size: 30px;
    
}

header > div >h1 > a{
    position: absolute; left: 0;
    color: white;
}

header > div > nav{}
header > div > nav > a{
    position: absolute; right:0;
}
header > div > nav > a::after{
    content: url('../imgs/ic_buger.svg');
    color: black;
}




/* ===============================================
====================spot==========================
============================================= */

.spot{
    width: 1920px;
    height: 860px;
    background: url(../imgs/img_main-sangreen01.jpg) 0 0  / cover no-repeat;

    position: relative;
}

.spot01{
    position: absolute;
    bottom: 20%; left: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    color:black;
    background-color: rgb(255, 255, 255, 0.5);
    padding:  0px  50px;
    width: 433px;
    height: 75px;
}

.spot02{
    position: absolute;
    bottom: 10%; left: 46%;
    color: white;
    width: 218px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.spot02>a{
    color: inherit;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 100%;
    display: inline-block;
}




.room{
    width: 1920px;
    padding: 100px 350px;
}

.room00{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 100px;
    width: 100%;
}
.room00>p>small{
    font-size: 24px;
    }

.room00>a::after{
    content: ' >';
}


.room01{
    display: flex;
    justify-content: space-between;
    position: relative;

}
.room01>p{
    color: white;
    position: absolute;
}

.room01>img:nth-of-type(2){width: 150px;}
.room01>img:nth-of-type(3){width: 150px;}
.room01>img:nth-of-type(4){width: 150px;}











.sub{
    width: 1920px; height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imgs/img_sub-back01.jpg) 0 0 / cover no-repeat;

}

.sub01{
    padding-left: 150px;
    text-align: justify;
}



